@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/inter-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/inter-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/inter-900.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    font-family: "Inter", sans-serif;
    min-height: 100%;
    font-size: 16px;
    line-height: 22px;
    background-color: #FEAFC3;
    color: #2D3440;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.container {
    margin: 0 auto;
    width: 1170px;
}

.grid-element__image {
    width: 150px;
    height: 150px;
    display: block;
  }

  .grid-element {
    display: flex;
    flex-direction: column;
  }

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 37.14px;
}

.header__container {
    display: flex;
}

.header__menu{
    display: flex;
}

.header__menu-catalog {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    flex-wrap: wrap;
    padding: 0;
    margin-top: 17px;
    margin-left: 12px;
}

.header__number {
    margin: auto 0;
}

.header__menu-item {
    list-style-type: none;
    margin-bottom: 10px;
}

.header__menu-item a {
    color: #2D3440;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    padding: 8px 14px;
    background-color: #FEAFC3;
    border-radius: 30px;
    border: 2px solid transparent;
}

.header__menu-item a:hover {
    background-color: rgba(252, 252, 252, 0.5);
    border-radius: 30px;
    margin-top: -7px;
}

.header__menu-item a:active {
    background-color: #FCFCFC;
    ;
}

.header__menu-item a:focus {
    background-color: rgba(252, 252, 252, 0.5);
    border: 2px solid #2d3440;
}

.header__menu-item a:focus~.subcatalog {
    position: absolute;
    z-index: 3;
    list-style-type: none;
    padding: 16px 13px 5px 16px;
    background: #FCFCFC;
    box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
    border-radius: 4px;
    margin-top: 18.14px;
    display: flex;
    flex-direction: column;
}

.header__information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 12px;
    margin-right: 5px;
}

.header__information-catalog {
    margin-right: 0;
}

.header__information span {
    margin-top: 5px;
    margin-left: -1px;
}

.header__information-phone {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #2D3440;
    text-decoration: none;
}

.icon {
    margin-top: 0;
    margin-left: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin-right: 2px;
}

.icon__link {
    position: relative;
    text-decoration: none;
    color: #2D3440;
    font-size: 14px;
    line-height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 3px 13px;
    background-color: rgba(252, 252, 252, 0.3);
    border-radius: 20px;
    border: 2px solid transparent;
}

.icon__link span {
    margin-top: 1px;
}

.icon__search {
    display: block;
    padding: 3px;
}

.icon__search svg {
    -webkit-transform: translate(2px, 2px);
    -ms-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
}

.icon__link:active {
    background-color: #fcfcfc;
    outline: none;
}

.icon__link:hover {
    background-color: rgba(252, 252, 252, 0.5);
}


.icon__link svg {
    margin-right: 6px;
    height: 16px;
    width: 16px;
}

.icon__link--active,
.icon__link--active:hover {
    color: #fcfcfc;
    background-color: #ff2f64;
}

.icon__link--active svg {
    color: #fcfcfc;
}

.icon__link-count {
    margin-right: 6px;
}

.user__link--login {
    background: transparent;
}

.icon__link:focus {
    opacity: 0.8;
    border: 2px solid #2d3440;
}

.main {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-top: 7px;
}

.slider {
    position: relative;
    margin-bottom: 59px;
}

.slider__ice {
    margin-bottom: -19px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.slider__ice .slider__information-main::before {
    content: "";
    position: absolute;
    width: 312px;
    height: 312px;
    background-color: #FFCBD8;
    border-radius: 50%;
    z-index: -1;
    top: 19%;
    right: 300px;
}

.slider__information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.slider__information-container {
    width: 433px;
    margin-left: 68px;
    margin-top: 92px;
    margin-right: 56px;
}

.slider__information-title {
    font-weight: 900;
    font-size: 35px;
    line-height: 46px;
    letter-spacing: 0.3px;
}

.slider__information-subtitle {
    font-size: 18px;
    letter-spacing: -0.09px;
    line-height: 24px;
    margin-bottom: 46px;
}

.slider__ice-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 150px;
    margin-top: auto;
    margin-left: 69px;
    margin-bottom: auto;
}

.slider-image {
    padding-right: 49px;
}

.slider__ice-container .slider__information:before {
    content: "";
    position: absolute;
    width: 98px;
    height: 98px;
    margin-left: -5px;
    background-color: #FFCBD8;
    border-radius: 50%;
    z-index: -1;
    top: 28px;
}

.slider__ice-container .slider__information-container {
    display: none;
}

.slider__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    margin-top: 5px;
}

.slider__social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.social-icons li {
    margin-right: 3px;
    margin-left: 13px;
}

.social-icons-svg {
    fill: #FCFCFC;
}

.social-icons-svg svg {
    width: 24px;
    height: 24px;
}

.social-icons-svg svg:hover {
    background-color: #2D3440;
    border-radius: 24px;
}

.social-icons-svg svg:focus {
    border: 2px solid #2D3440;
}

.social-icons-svg svg:disabled {
    opacity: 0.4;
}

.arrows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 236px;
    right: 284px;
}

.arrows__left-arrow {
    background-repeat: no-repeat;
    width: 38px;
    height: 38px;
    background-color: rgba(252, 252, 252, 0.3);
    background-position: center;
    border: 2px solid #FCFCFC;
    border-radius: 26px;
    margin-right: 270px;
    cursor: pointer;
    fill: #FCFCFC;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.arrows__right-arrow {
    background-repeat: no-repeat;
    width: 38px;
    height: 38px;
    background-color: rgba(252, 252, 252, 0.3);
    background-position: center;
    border: 2px solid #FCFCFC;
    border-radius: 26px;
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    cursor: pointer;
    fill: #FCFCFC;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.arrows__left-arrow svg {
    width: 7px;
    height: 12px;
}

.arrows__right-arrow svg {
    width: 7px;
    height: 12px;
}

.arrows__left-arrow:hover {
    background-color: #FCFCFC;
    fill: #2D3440;
}

.arrows__right-arrow:hover {
    background-color: #FCFCFC;
    fill: #2D3440;
}

.arrows__left-arrow:active {
    background-color: rgba(252, 252, 252, 0.5);
    border: none;
}

.arrows__right-arrow:active {
    background-color: rgba(252, 252, 252, 0.5);
    border: none;
}

.arrows__left-arrow:focus {
    background: rgba(252, 252, 252, 0.3);
    border: 2px solid #2D3440;
}

.arrows__right-arrow:focus {
    background: rgba(252, 252, 252, 0.3);
    border: 2px solid #2D3440;
}

.arrows__left-arrow:disabled {
    background: rgba(252, 252, 252, 0.3);
    opacity: 0.4;
    border: 2px solid #FCFCFC;
    fill: #FCFCFC;
}

.arrows__right-arrow:disabled {
    background: rgba(252, 252, 252, 0.3);
    opacity: 0.4;
    border: 2px solid #FCFCFC;
    fill: #FCFCFC;
}

.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.1px;
    border-radius: 26px;
    padding: 12px 31px;
    color: #FCFCFC;
    cursor: pointer;
}

.white-button {
    border: 2px solid rgba(255, 47, 100, 0.3);
    color: #2D3440;
}

.white-button:hover {
    background: rgba(252, 252, 252, 0.4);
    border: 2px solid #FCFCFC;
    -webkit-box-shadow: 0 4px 15px rgba(133, 133, 133, 0.15);
    box-shadow: 0 4px 15px rgba(133, 133, 133, 0.15);
}

.white-button:active {
    background-color: #FCFCFC;
    border: 2px solid #2D3440;
    -webkit-box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
    box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.white-button:focus {
    background: rgba(252, 252, 252, 0.5);
    border: 2px solid #2D3440;
    -webkit-box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
    box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.white-button:disabled {
    background: #E7E7E7;
    border: 2px solid rgba(252, 252, 252, 0.4);
}

.pink-button {
    border: 2px solid rgba(252, 252, 252, 0.4);
    outline: 2px solid rgba(252, 252, 252, 0.4);
    background-color: #FF2F64;
}

.pink-button:hover {
    background: rgba(252, 252, 252, 0.3);
    border: 2px solid #FF2F64;
    outline: 2px solid #FF2F64;
    color: #2D3440;
}

.pink-button:active {
    background: #FEAFC3;
    border: 2px solid #2D3440;
    -webkit-box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
    box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
    color: #FCFCFC;
}

.pink-button:focus {
    background: #FF2F64;
    border: 2px solid #2D3440;
    outline: 2px solid transparent;
    -webkit-box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
    box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.pink-button:disabled {
    background: #B9B9B9;
    border: 2px solid rgba(185, 185, 185, 0.3);
    outline: 2px solid rgba(185, 185, 185, 0.3);
}

.transparent-button {
    border: 2px solid #FCFCFC;
    border-radius: 20px;
    padding: 8px 52.5px;
    background-color: rgba(252, 252, 252, 0.3);
    color: #2D3440;
    font-size: 14px;
    margin-left: -19px;
}

.transparent-button:hover {
    background: #FCFCFC;
    border: 2px solid rgba(252, 252, 252, 0.3);
}

.transparent-button:active {
    background: rgba(252, 252, 252, 0.5);
}

.transparent-button:focus {
    background: rgba(252, 252, 252, 0.3);
    border: 2px solid #2D3440;
}

.transparent-button:disabled {
    background: rgba(252, 252, 252, 0.3);
    opacity: 0.4;
    border: 2px solid #FCFCFC;
}

.slider__dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -5px;
}

.dot {
    width: 12px;
    height: 12px;
    background-color: rgba(252, 252, 252, 0.3);
    border-radius: 100px;
    margin-right: 8px;
    border: 1px solid transparent;
}

.dot:hover {
    background-color: rgba(252, 252, 252, 0.3);
    border: 1px solid #FCFCFC;
}

.dot:active {
    background-color: #FCFCFC;
}

.dot:focus {
    background-color: #FCFCFC;
    border: 1px solid #2D3440;
}

.dot-current {
    background: #FCFCFC;
}

.social-icons {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.banners {
    margin-bottom: 82px;
}

.banners__title {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    width: 434px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 55px;
    padding-right: 7px;
}

.banners__discount {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 26px;
    margin-left: -4px;
}

.banners__discount-container {
    padding-top: 36px;
    padding-left: 36px;
    padding-bottom: 33px;
}

.banners__discount img {
    object-fit: contain;
    margin-top: auto;
    margin-bottom: -4px;
}

.banners__discount li {
    background-color: #FF7799;
    border-radius: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.banners__discount-title {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -0.2px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 28px;
}

.banners__discount-subtitle {
    margin: 0;
    margin-bottom: 26px;
    letter-spacing: -0.1px;
}

.products {
    margin-bottom: 80px;
}

.products__title {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    margin: 0 auto;
    width: 527px;
    text-align: center;
    margin-bottom: 107px;
    padding-right: 7px;
}

.products__catalog {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 18px 20px;
    text-align: center;
}

.products__catalog-main {
    gap: 29px;
}

.products__catalog-main li{
    margin-left: -3px;
}

.products__catalog li {
    background-color: #FCFCFC;
    border-radius: 8px;
    width: 270px;
}

.products__catalog-image {
    border-radius: 100px;
    margin-top: -51px;
    width: 185px;
    height: 185px;
}

.products__catalog-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 8px;
    margin-top: -10px;
    padding-top: 3px;
}

.products__catalog-subtitle {
    margin: 0;
    margin-bottom: 20px;
    padding: 0 40px;
}

.products__catalog-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 190px;
    margin: 0 auto;
    margin-bottom: 28px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.products__catalog-price {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.products__catalog-trash {
    position: absolute;
    display: block;
    background-color: #FF2F64;
    background-repeat: no-repeat;
    padding: 6px;
    width: 16px;
    height: 16px;
    background-position: center;
    border-radius: 26px;
    right: 0;
    fill: #fff;
    overflow: hidden;
    border: 2px solid #FF2F64;
}

.products__catalog-trash svg {
    width: 16px;
    height: 16px;
}

.products__catalog-trash:hover {
    background: rgba(252, 252, 252, 0.3);
    border: 2px solid #FF2F64;
    fill: #000000;
}

.products__catalog-trash:active {
    background: #FFCBD8;
    border: 2px solid #FF2F64;
}

.products__catalog-trash:focus {
    background: #FF2F64;
    border: 2px solid #2D3440;
    fill: #fff;
}

.products__catalog-trash:disabled {
    background: #B9B9B9;
    fill: #000000;
}

.about {
    margin-bottom: 79px;
    background-color: #EEE2C5;
    background-image: url("../images/waffle.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 24px;
    border-radius: 16px;
    margin-left: -4px;
}

.about__container {
    background-color: #FFFFFF;
    ;
    border-radius: 16px;
}

.about__title {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    padding: 56px 66.5px 0 63.5px;
    text-align: center;
    margin: 0;
}

.about__list {
    list-style-type: none;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 24px 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 17px 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px 17px;
    padding: 57px 27px 56px 41px;
    font-size: 16px;
    margin: 0;
}

.about__list>*:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.about__list>*:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.about__list>*:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}

.about__list>*:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}

.about__list li {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 48px 16px 1fr;
    grid-template-columns: 48px 1fr;
    gap: 16px;
}

.about__list p {
    margin: 0;
}

.about__icon-container {
    position: relative;
    border: 2px solid #2D3440;
    width: 43px;
    height: 43px;
    border-radius: 50%;
}

.about__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.news {
    background-image: url("../images/news.jpg");
    background-repeat: no-repeat;
    border-radius: 16px;
    background-size: cover;
    background-color: #fff;
    margin-left: -4px;
}

.news__container {
    margin-top: 18.5px;
    margin-left: 32px;
    padding-bottom: 66px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.news__container p {
    margin: 0;
    margin-top: 14px;
    margin-bottom: 14px;
}

.news__title {
    width: 303px;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin: 0;
}

.news__title a {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #2D3440;
    text-decoration: none;
}

.news__subtitle {
    line-height: 20px;
    color: #565C66;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

.mail {
    background-color: #FFFFFF;
    border-radius: 16px;
    background-image: url("../images/frame.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 6px;
}

.frame {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 30px 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-bottom: 81px;
}

.mail__container {
    padding: 26px 12px 26px 23px;
    background-color: #FFFFFF;
    border-radius: 16px;
}

.mail__subtitle {
    color: #565C66;
    margin: 0;
    margin-bottom: 42px;
    letter-spacing: -0.1px;
}

.mail__input {
    line-height: 20px;
    width: 307px;
    height: 41px;
    margin-right: 16px;
    border: 1px solid #B9B9B9;
    padding-left: 17px;
    font-size: 17px;
    border-radius: 4px;
}

.search-input {
    line-height: 20px;
    width: 310px;
    height: 41px;
    margin-right: 8px;
    border: 1px solid #B9B9B9;
    padding-left: 17px;
    font-size: 17px;
    border-radius: 4px;
}

.popover-content .search-input:focus {
    background: #FFFFFF;
    border: 2px solid #2D3440;
    border-radius: 4px;
}

.auth-form input {
    width: 421px;
    height: 46px;
    margin-right: 8px;
    border: 1px solid #B9B9B9;
    padding-left: 17px;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 13px;
}

.textarea__input {
    line-height: 20px;
    width: 421px;
    height: 129px;
    margin-right: 8px;
    border: 1px solid #B9B9B9;
    padding-left: 17px;
    font-weight: 400;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    padding-top: 15px;
    border-radius: 4px;
    resize: none;
}

.delivery {
    background-image: url("../images/delivery.jpg");
    background-repeat: no-repeat;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 635px;
    grid-template-columns: 1fr 635px;
    border-radius: 16px;
    margin-bottom: 80px;
    background-size: cover;
    background-color: #fff;
    margin-left: -4px;
}

.delivery__container {
    margin: auto;
    margin-left: 101px;
    width: 371px;
}

.delivery__title {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    padding-top: 21px;
    margin: 0;
}

.delivery__subtitle {
    color: #565C66;
    margin-top: 22px;
}

.delivery__form-container {
    padding: 63px 48px 64px 68px;
}

.delivery__form {
    background-color: #FCFCFC;
    border-radius: 8px;
    padding: 42px 37px 40px 41px;
    margin-right: 20px;
}

.delivery__form-information {
    color: #565C66;
    margin: 0;
    letter-spacing: -0.1px;
    margin-bottom: 33px;
}

.delivery__form-order-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 117px 14px 1fr;
    grid-template-columns: 117px 282px;
    gap: 22px 14px;
    margin-bottom: 34px;
}

.delivery__form-order-container p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 18px;
}

.delivery__form-order-container input {
    background: #FFFFFF;
    border: 1px solid #B9B9B9;
    border-radius: 4px;
}

.input:hover {
    border: 1px solid #2D3440;
}

.input::-webkit-input-placeholder {
    color: #B9B9B9;
}

.input::-moz-placeholder {
    color: #B9B9B9;
}

.input:-ms-input-placeholder {
    color: #B9B9B9;
}

.input::-ms-input-placeholder {
    color: #B9B9B9;
}

.input::placeholder {
    color: #B9B9B9;
}

.input:focus {
    border: 2px solid #2D3440;
}

.input .error input {
    border: 1px solid #EA5454;
}

.input .error input:hover {
    border: 2px solid #EA5454;
}

.input:invalid {
    background-color: #E7E7E7;
    border: 1px solid #B9B9B9;
}

.input:disabled {
    background-color: #E7E7E7;
    border: 1px solid #B9B9B9;
    opacity: 0.65;
}

.delivery__form-order p {
    font-weight: 700;
    line-height: 20px;
    position: relative;
    margin: 0;
}

.delivery__form-order p:last-child {
    padding-right: 2px;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
}

.delivery__form-input {
    height: 42px;
    margin-top: 8px;
    padding: 0 16px;
}

.delivery__form-order-date::after {
    content: "";
    position: absolute;
    background-image: url("../images/warning.svg");
    width: 13px;
    height: 13px;
    background-repeat: no-repeat;
    margin-left: 5px;
    margin-top: 3px;
}

.delivery__form-order-address::after {
    content: "";
    position: absolute;
    background-image: url("../images/warning.svg");
    width: 13px;
    height: 13px;
    background-repeat: no-repeat;
    margin-left: 5px;
    margin-top: 3px;
}

.delivery__form-order input {
    line-height: 20px;
    font-size: 16px;
}

.delivery__form-button {
    text-align: center;
}

.contacts {
    background-color: #E9C8CD;
    background-image: url("../images/feedback.jpg");
    background-repeat: no-repeat;
    border-radius: 16px;
    padding-top: 65px;
    padding-left: 65px;
    padding-bottom: 65px;
    margin-bottom: 27px;
    margin-left: -4px;
}

.contacts__container {
    background-color: #FCFCFC;
    border-radius: 8px;
    padding-left: 40px;
    padding-top: 41px;
    width: 254px;
    padding-right: 48px;
    padding-bottom: 4px;
    height: 318px;
}

.contacts__address-information-title {
    color: #565C66;
    margin: 0;
    padding-bottom: 10px;
}

.contacts__address-information h2 {
    margin: 0;
    padding-bottom: 24px;
}

.contacts__address-information a {
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #2D3440;
}

.contacts__delivery-phone {
    color: #565C66;
    padding-bottom: 17px;
}

.contacts__delivery-phone a {
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #2D3440;
}

.contacts__delivery-phone p {
    margin: 0;
    padding-bottom: 12px;
}

.contacts__delivery-time {
    font-size: 14px;
    line-height: 20px;
}

.information {
    padding-left: 107px;
}

.information__catalog{
    padding-left: 116px;
}

.information-main {
    padding-left: 118px;
}

.information ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 126px 24px 182px;
    grid-template-columns: 126px 182px;
    -ms-grid-rows: 1fr 7px 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 7px 24px;
}

.information ul>*:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.information ul>*:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.information ul>*:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}

.information ul>*:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}

.information__item {
    font-size: 14px;
    line-height: 20px;
}

.information__item a {
    color: #2D3440;
    text-decoration: none;
}

.information__item:first-child {
    font-weight: 700;
}

.information__item:first-child::before {
    content: "";
    background-image: url("../images/heart.svg");
    position: absolute;
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    margin-left: -22px;
    margin-top: 2px;
}

.footer {
    margin-bottom: 48px;
}

.footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 4px;
}

.footer__container-catalog{
    padding-left: 8px;
}

.footer__social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-left: -15px;
}

.logo p {
    font-size: 12px;
    line-height: 16px;
    margin-top: 8px;
}

.html-academy {
    margin-top: 16px;
    margin-right: 18px;
}

.html-academy__link {
    text-decoration: none;
    border-bottom: 1px black solid;
    color: #2D3440;
}

.header__menu-catalog {
    margin-left: 17px;
}

.header__menu-item_active {
    display: block;
}

.header__menu-item_active a {
    color: #FCFCFC;
    background-color: #FF4A78;
}

.subcatalog {
    list-style-type: none;
    padding: 16px 13px 5px 16px;
    background: #FCFCFC;
    box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.header__menu-item:hover .header__menu-subcatalog {
    display: block;
}

.header__menu-subcatalog {
    display: none;
    padding-top: 18.14px;
    position: absolute;
    z-index: 3;
}

.header__menu-item:focus-within .header__menu-subcatalog {
    display: block;
}

.subcatalog-link-container {
    background-color: #FCFCFC;
    padding-bottom: 10px;
    display: inline-block;
}

.subcatalog-link-container a {
    background-color: #FCFCFC;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.subcatalog .subcatalog-link-main {
    font-weight: 700;
}

.subcatalog .subcatalog-link-container:first-child {
    border-bottom: 1px solid #B9B9B9;
    padding-bottom: 9px;
    margin-bottom: 8px;
}

.header__menu-item-catalog:hover~.subcatalog {
    position: absolute;
    z-index: 3;
    list-style-type: none;
    padding: 16px 13px 5px 16px;
    background: #FCFCFC;
    box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
    border-radius: 4px;
    margin-top: 18.14px;
    display: flex;
    flex-direction: column;
}

.inner-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 64px;
    padding-bottom: 3px;
}


.inner-header__title {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin: 0;
}

.inner-header__breadcrumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 16px;
}

.inner-header__breadcrumbs-item {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin-right: 28px;
}

.inner-header__breadcrumbs-link {
    text-decoration: none;
    color: #2D3440;
}

.inner-header__breadcrumbs li:last-child {
    border-bottom: 1px black solid;
}

.inner-header__breadcrumbs-link_active::before {
    content: "";
    background-image: url("../images/union.svg");
    position: absolute;
    background-repeat: no-repeat;
    height: 10px;
    width: 10px;
    margin-left: -19px;
    margin-top: 7px;
}

.icon__item {
    list-style-type: none;
    margin-right: 4px;
    margin-left: 15px;
    position: relative;
}

.icon__catalog {
    margin-left: 0;
    margin-right: -4px;
}

.icon__list-catalog {
    margin-right: 0;
    margin-left: 18px;
}

.icon__list-catalog:hover {
    background: #FF4A78;
    border-radius: 30px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.visually-none {
    display: none;
}

.range-scale {
    position: relative;
    height: 2px;
    margin-top: 12px;
    background-color: rgba(86, 92, 102, 0.3);
    border-radius: 2px;
}

.range-bar {
    position: absolute;
    height: 2px;
    background-color: #565C66;
    left: 38px;
    width: 67px;
}

.range-toggle {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #242424;
    border: 2px solid #242424;
    border-radius: 50%;
    cursor: pointer;
}

.range-toggle::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    margin-left: -2px;
    margin-top: -2px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.range-toggle:hover {
    background-color: #fff;
    border: 2px solid #fff;
}

.range-toggle:hover:before {
    background-color: #242424;
}

.range-toggle:active,
.range-toggle:focus {
    background-color: #fff;
    border: 2px solid #242424;
}

.toggle-min {
    top: -6px;
    left: -10px;
}

.toggle-max {
    top: -6px;
    right: -10px;
}

.catalog-products__form {
    font-size: 14px;
    line-height: 20px;
    display: -ms-grid;
    display: grid;
    width: 787px;
    -ms-grid-columns: 196px 24px 196px 24px 175px;
    grid-template-columns: 196px 196px 175px;
    gap: 44px 24px;
}

.catalog-products__sorting-list {
    background-color: transparent;
    border: none;
    color: #2D3440;
    vertical-align: sub;
    margin-left: 3px;
    font-size: 14px;
}

.catalog-products__sorting-filter:hover {
    background-color: rgba(252, 252, 252, 0.5);
}

.catalog-products__sorting-filter:focus {
    background-color: rgba(252, 252, 252, 0.4);
    border: 2px solid #fff;
}

.catalog-products__sorting-list:focus {
    border: 2px solid #FCFCFC;
}

.catalog-products__form-radio {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    margin-right: -15px;
}

.catalog-products__form-radio-list {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
}

.catalog-products__form-checkbox {
    grid-column: 1/-1;
    -ms-grid-row-align: center;
    align-self: center;
    padding: 9px;
    margin-right: 11px;
}

.catalog-products__form-checkbox-list {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    flex-wrap: wrap;
    max-width: 604px;
}

.control {
    position: relative;
    display: block;
    padding-left: 24px;
    margin-left: 13px;
    margin-top: 3px;
}

.control-mark {
    position: absolute;
    top: 2px;
    left: 0;
    width: 14px;
    height: 14px;
    border: 1.33333px solid #000000;
    border-radius: 2px;
    fill: transparent;
}

.control:hover .control-mark {
    border-color: #fff;
}

.control-input:focus+.control-mark {
    border-color: #fff;
    ;
}

.control-input:disabled+.control-mark {
    border-color: #242424;
}

.control-input[type="checkbox"]:checked+.control-mark::before,
.control-input[type="checkbox"]:checked+.control-mark::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 1px;
    width: 12px;
    height: 2px;
    background-color: #242424;
}

.control-input[type="checkbox"]:hover:checked+.control-mark:before,
.control-input[type="checkbox"]:hover:checked+.control-mark:after {
    content: "";
    background-color: #fff;
}

.control-input[type="checkbox"]:checked+.control-mark::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.control-input[type="checkbox"]:checked+.control-mark::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.control-input[type="radio"]+.control-mark {
    border-radius: 50%;
}

.catalog-products__form-radio-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    flex-wrap: wrap;
    max-width: 383px;
}

.control-input[type="radio"]:checked+.control-mark::before {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 6px;
    height: 6px;
    background-color: #242424;
    border-radius: 50%;
    content: "";
}

.control-input[type="radio"]:hover:checked+.control-mark:before {
    background-color: #fff;
    content: "";
}

.catalog-products__form-radio-item:not(:last-child) {
    margin-right: 3px;
}

.fieldset {
    background-color: rgba(252, 252, 252, 0.3);
    border-radius: 20px;
    border: none;
    position: relative;
}

.catalog-products__title {
    position: absolute;
    margin-top: -32px;
}

.catalog-products__form-checkbox .catalog-products__form-checkbox-title {
    margin-top: -39px;
}

.catalog-products__list {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.catalog-products__card {
    margin: 79px 10px -7px 0;
}

.catalog-products__card-link {
    text-decoration: none;
}

.catalog-products__card-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #2D3440;
    margin: 0;
    padding-bottom: 8px;
}

.catalog-products__card-subtitle {
    color: #565C66;
    margin: 0;
    margin-bottom: 20px;
    padding: 0 40px;
}

.catalog-products__card-price {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #2D3440;
}

.catalog-products__card-image {
    margin-bottom: -6px;
}

.pagination__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    margin: 64px -27px 105px 0;
    align-items: baseline;
}

.pagination {
    list-style-type: none;
    margin-left: 327px;
    margin-top: 5px;
    margin-right: 20px;
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.pagination-item {
    text-align: center;
}

.pagination-link:hover {
    background: rgba(252, 252, 252, 0.5);
    border-radius: 50px;
}

.pagination-link:active {
    background: rgba(252, 252, 252, 0.5);
    border: 1px solid #FCFCFC;
}

.pagination-link:focus {
    background: rgba(223, 212, 212, 0.3);
    border: 1px solid #2D3440;
}

.pagination-link {
    text-decoration: none;
    line-height: 20px;
    color: #2D3440;
    width: 24px;
    height: 24px;
    border: 1px solid transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}

.pagination-current {
    background: #FCFCFC;
    border-radius: 76px;
    width: 24px;
    height: 24px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.pagination-show-more {
    margin-right: 5px;
}

.popover {
    position: absolute;
    z-index: 1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #242424;
    background-color: #ffffff;
    min-height: 186px;
    -webkit-box-shadow: 0 18px 40px rgba(79, 70, 60, 0.16);
    box-shadow: 0 18px 40px rgba(79, 70, 60, 0.16);
    display: none;
}

.icon__item:hover .popover {
    display: block;
}

.icon__item:focus-within .popover {
    display: block;
}

.icon__link:hover~.popover {
    display: block;
}

.icon__link:focus~.popover {
    display: block;
}

.popover-cart {
    width: 435px;
    padding: 48px 48px 37px 48px;
    right: 1px;
    margin-top: 7px;
}

.popover-cart-empty {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    width: 305px;
    right: 134px;
    margin-top: 8px;
    -webkit-box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
    box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
    border-radius: 4px;
}

.icon__link:hover~.popover-cart-empty {
    display: none;
}

.icon__link:focus~.popover-cart-empty {
    display: none;
}

.popover-entry {
    width: 418px;
    padding: 44px 6px 19px 41px;
    right: 1px;
}

.popover-search {
    padding: 26px 14px;
    width: 356px;
    min-height: 96px;
    right: 1px;
    margin-top: 12px;
    border-radius: 4px;
}

.popover-search::before {
    content: "";
    position: absolute;
    height: 20px;
    top: 38px;
    left: 32px;
    z-index: 1;
    width: 1px;
    background-color: #2D3440;
}

.popover-content-search {
    position: relative;
}

.popover-content {
    height: 100%;
}

.popover-content-empty {
    margin-top: 20%;
}

.popover-title {
    margin-top: 0;
    margin-bottom: 32px;
    color: #000000;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.cart-item {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 61px 164px 1fr -webkit-min-content;
    -ms-grid-columns: 61px 164px 1fr min-content;
    grid-template-columns: 61px 164px 1fr -webkit-min-content;
    grid-template-columns: 61px 164px 1fr min-content;

}

.cart-item img {
    width: 46px;
    height: 46px;
}

.cart-items-list {
    padding: 0;
    padding-bottom: 17px;
    border-bottom: 1px solid #E7E7E7;
    margin-bottom: 27px;
}

.cart-item-title {
    margin-top: 0;
    margin-bottom: -12px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #2D3440;
}

.cart-item-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #B9B9B9;
}

.cart-item-price {
    margin-top: 10px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #2d3440;
}

.cart-item+.cart-item {
    padding-top: 10px;
}

.popover-open {
    display: block;
}

.close-button {
    border: none;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    width: 22px;
    height: 22px;
    margin-right: -7px;
    margin-top: 14px;
}

.close-button::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 1px;
    width: 12px;
    height: 2px;
    background-color: #242424;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.close-button::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 1px;
    width: 12px;
    height: 2px;
    background-color: #242424;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.total-price {
    font-weight: 700;
    font-size: 18px;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 22px;
}

.popover-content__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(45, 52, 64, 0.3);
}

.modal {
    position: relative;
    margin: auto;
    background-color: #fcfcfc;
}

.modal-auth {
    width: 446px;
    padding: 65px 58px 55px 67px;
    border-radius: 8px;
}

.modal-close-button {
    position: absolute;
    padding: 0;
    top: 18px;
    right: 16px;
    width: 56px;
    height: 44px;
    background-color: #fcfcfc;
    ;
    border: none;
    background-image: url("../images/close.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.modal-title {
    margin: 0;
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #2D3440;
}

.auth-form {
    margin-bottom: 25px
}

.auth-form .field-group {
    margin: 0;
}

.auth-form .field-group-entry {
    margin-bottom: 2px;
}

.auth-form__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 12px;
    text-decoration: none;
}

.auth-form-user-options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-weight: 400;
}

.auth-form-user-options a {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
}

.auth-form-button {
    margin-right: 16px;
}

.auth-form-user-options .control-label {
    font-weight: 400;
}

.auth-form .field {
    width: 328px;
}

.auth-form .auth-form-field {
    width: 304px;
}

.modal-button {
    -webkit-transform: translateX(288px);
    -ms-transform: translateX(288px);
    transform: translateX(288px);
}

.modal-container-close {
    display: none;
}

.catalog-products__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 15px;
    margin-right: 3px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.catalog-products__container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.catalog-products__container:hover {
    fill: #FCFCFC;
}

.catalog-products__container:disabled {
    fill: #B9B9B9;
}

.catalog-products__container input[type=checkbox]:focus~.svg1 {
    fill: #FCFCFC;
}

.catalog-products__container input[type=checkbox]:focus~.svg2 {
    fill: #FCFCFC;
}

.catalog-products__container svg {
    width: 16px;
    height: 16px;
    margin-right: 6px;
}

.catalog-products__container input~.svg2 {
    display: none;
}

.catalog-products__container input~.svg1 {
    display: block;
}

.catalog-products__container input:checked~.svg2 {
    display: block;
}

.catalog-products__container input:checked~.svg1 {
    display: none;
}
